@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-body {
    @apply bg-[#0F172A];
  }

  #btn {
    padding: 3px 15px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff58;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #3b82f6;
    transition: 0.5s ease;
    user-select: none;
  }

  #btn:hover {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }

  @media (min-width: 400px) {
    .about-button {
      padding: 8px 24px;
    }
  }
  @media (max-width: 399px) {
    .about-button {
      padding: 4px 12px;
    }
  }

  .about-button {
    cursor: pointer;
    position: relative;
    font-size: 15px;
    color: rgb(55, 181, 212);
    border: 2px solid rgb(55, 181, 212);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
  }

  .about-button::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(55, 181, 212);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .about-button:hover::before {
    scale: 3;
  }

  .about-button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgb(55, 181, 212);
  }

  .about-button:active {
    scale: 1;
  }

  .box {
    width: 40px;
    height: 40px;
    background: rgb(55, 181, 212);
    border-radius: 25px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
  }

  .arrow {
    width: 9.1px;
    border: solid black;
    border-width: 3px 0 0 3px;
    display: inline-block;
    padding: 3px;
    margin-left: 4px;
  }
  .arrow2 {
    width: 9.1px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
  }

  .box:hover {
    box-shadow: 0 0px 20px rgb(55, 181, 212);
  }

  @media (min-width: 600px) {
    .box:hover .arrow {
      display: none;
    }
    .box:hover .arrow2 {
      display: none;
    }
  }

  .box .text {
    display: none;
  }

  @media (min-width: 600px) {
    .box:hover .text {
      display: flex;
      font-size: 16px;
      font-weight: 550;
      color: #212121;
      letter-spacing: 0.6px;
      animation: anima 0.9s ease;
    }
  }

  @keyframes anima {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .card {
    background: #07182e;
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    padding: 6px 0;
  }

  .card h2,
  .card img,
  .card h1,
  .card p,
  .card button,
  .card a, .card div{
    z-index: 1;
  }

  .card::before {
    content: "";
    position: absolute;
    width: 100px;
    background-image: linear-gradient(
      180deg,
      rgb(0, 183, 255),
      rgb(255, 48, 255)
    );
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }

  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .card::after {
    content: "";
    position: absolute;
    background: #09357c;
    inset: 5px;
    border-radius: 15px;
  }
  .card:hover:before {
    background-image: linear-gradient(
      180deg,
      rgb(81, 255, 0),
      rgb(255, 19, 255)
    );
    animation: rotBGimg 3.5s linear infinite;
  }


  .project-button {
    font-family: inherit;
    background: rgb(218, 217, 217);
    color: black; 
    padding: 0.3em 1em;
      font-size: 20px;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }

  .project-button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  .project-button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  .project-button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  .project-button:hover svg {
    transform: translateX(2.7em) rotate(45deg) scale(1.1);
  }

  .project-button:hover span {
    transform: translateX(8em);
  }

  .project-button:active {
    transform: scale(0.95);
  }

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }

  .next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    width: 190px;
    padding: 0.6em 0;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
  }

  .next-button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .next-button span {
    gap: 4;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .next-button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }

  .next-button:hover span {
    transform: translateX(7px);
  }

  .previous-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    width: 190px;
    padding: 0.6em 0;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
  }

  .previous-button svg {
    margin-right: 3px;
    transform: rotate(-30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .previous-button span {
    gap: 4;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .previous-button:hover svg {
    transform: translateX(-5px) rotate(-90deg);
  }

  .previous-button:hover span {
    transform: translateX(-7px);
  }

  .project-arrow {
    cursor: pointer;
    height: 60px;
    right: 1%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    box-sizing: border-box;
    width: 40px;
    padding: 2rem 2rem;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border-radius: 40px;
  }

  .project-arrow-top,
  .project-arrow-bottom {
    background-color: #666;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  .project-arrow-top:after,
  .project-arrow-bottom:after {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
  }

  .project-arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
  }

  .project-arrow-top:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
  }

  .project-arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
  }

  .project-arrow-bottom:after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
  }

  .project-arrow:hover .project-arrow-top:after {
    left: 0;
    transition-delay: 0.15s;
  }

  .project-arrow:hover .project-arrow-bottom:after {
    right: 0;
    transition-delay: 0s;
  }

  .project-arrow:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
}
